

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.column {
  flex-flow: column wrap;
}
.row {
  flex-flow: row wrap;
}
.going-left {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.going-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gap {
  gap: 1rem;
}
.mb {
  margin-bottom: 1rem;
}
.mt {
  margin-top: 1rem;
}
.pd {
  padding: .3rem .6rem;
}

body {
  font-family: Georgia;
}

img {
  opacity: .1;
  position: relative;
  top: 0;
  left: 0;
  transition: all linear 1.2s;
  border: transparent solid 1px;
}

.full-height {
  min-height: 100vh;
}

.cls-big-word {
  background: linear-gradient(to left, #111, #222);
  border-radius: .2rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: .3rem;
  padding: .3rem;
  text-align: center;
  text-shadow: 0 0 .5rem #222;
  width: 5rem;
}

.cls-icon {
  text-shadow: 0 0 1rem #222;
  cursor: pointer;
  font-size: 3rem;
  transition: linear .5s;
}

.cls-icon:hover {
  transform: scale(1.2);
}

.cls-rare-fish {
  box-shadow: 0 0 .5rem rgb(220, 20, 60);
  border-radius: .5rem;
  padding: .5rem;
  transition: all linear .3s;
}

.cls-rare-fish:hover {
  transform: scale(1.1);
}

.cls-smooth {
  transition: all linear .15s;
}

.cls-slot {
  height: 2.3rem;
  width: 2.5rem;
  background: rgb(200, 255, 200);
  border-right: rgb(33, 66, 99) solid 1px;
  border-bottom: rgb(33, 66, 99) solid 1px;
  border-radius: .3rem;
  margin: .1rem;
  opacity: 2;
}

.cls-std-background-morning-a, .cls-std-background {
  background: linear-gradient(15deg, rgb(0, 86, 159), rgb(29, 145, 197), rgb(129, 179, 202));
}

.cls-std-background-morning-b {
  background: linear-gradient(15deg, rgb(2, 136, 209),rgb(79, 195, 247), rgb(179, 229, 252));
}

.cls-std-background-afternoon-a {
  background: linear-gradient(15deg, rgb(52, 176, 255), rgb(129, 245, 255), rgb(229, 255, 255));
}

.cls-std-background-afternoon-b {
  background: linear-gradient(15deg, rgb(52, 176, 255), rgb(129, 245, 255), rgb(255, 203, 97));
}

.cls-std-background-afternoon-c {
  background: linear-gradient(15deg, rgb(129, 245, 255), rgb(255, 203, 97), rgb(255, 166, 50));
}

.cls-std-background-evening-a {
  background: linear-gradient(15deg, rgb(25, 50, 77), rgb(30, 60, 107),rgb(0, 86, 159));
}

.cls-std-background-evening-b {
  background: linear-gradient(15deg, rgb(2, 11, 55), rgb(12, 22, 66), rgb(22, 33, 77));
}

.cls-std-background-evening-c {
  background: linear-gradient(15deg, rgb(0, 7, 44), rgb(7, 17, 55),rgb(12, 22, 66));
}

.cls-std-background-evening-morning {
  background: linear-gradient(15deg, rgb(0, 33, 44),rgb(0, 46, 66),rgb(0, 86, 159));
}

.cls-std-btn {
  background: linear-gradient(to bottom, #0288D1, #B3E5FC, #4FC3F7);
  border: #222 solid .5px;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1rem;
  outline: none;
  padding: .5rem 1.5rem;
}

.cls-time {
  border-radius: .2rem;
  font-size: 1.2rem;
  text-shadow: 0 0 .5rem #222;
}

.cls-vanished {
  display: none;
}

#fish-from-game-template #fish-chart {
  background: linear-gradient(to left, rgba(11, 11, 11, .5), rgba(22, 22, 22, .5));
  border-radius: .5rem;
  height: 50vh;
  width: 80%;
}

#fish-from-game-template #about-rare-fish {
  position: relative;
  left: .5rem;
  top: .5rem;
}

#game-resources-template #alert {
  background: rgb(10, 40, 20);
  border: rgb(0, 255, 100) solid 1px;
  border-radius: .7rem;
  color: white;
  padding: 1rem;
  
  position: fixed;
  top: .5rem;
  right: .5rem;
}

#game-resources-template #bucket {
  border-radius: 1rem;
  position: fixed;
  height: 8rem;
  top: .2rem;
  right: 10rem;
  z-index: 4;
}

#game-template #boat {
  background: linear-gradient(15deg, orangered, rgb(250, 100, 0), rgb(200, 200, 0));
  border-bottom-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  transition: all linear .5s;
  
  position: relative;
  height: 3rem;
  width: 10rem;
  left: 1rem;
  top: 5.25rem;
}

#game-template #clock #h {
  background: crimson;
}

#game-template #clock #min {
  background: mediumseagreen;
}

#game-template #clock #sec {
  background: blue;
}

#game-template #lake {
  width: 110%;
  height: 80%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  transition: linear 3s;
}

#game-template #rod {
  background-color: rgb(255, 200, 0);
  border-radius: .5rem;
  transform: rotate(15deg);
  
  position: relative;
  left: 10rem;
  top: 2.5rem;
  height: .4rem;
  width: 8rem;
}

#game-template #thread {
  background: white;
  box-shadow: 0 0 .5rem white;
  position: relative;
  height: 20rem;
  width: .1px;
  left: 17.2rem;
  top: 3.3rem;
  z-index: 3;
  transition: all linear .25s;
}

#game-template #hook {
  background: white;
  box-shadow: 0 0 .5rem white;
  border-radius: 50%;
  position: relative;
  
  height: 1.5rem;
  width: .5rem;
  z-index: 3;
}
